$black: #000 !default;
$bordaPadrao: 12px !default;
$sombraPadrao: 1rem 0.57rem 1rem rgba($black, 0.3) !default;


$temaEscuro: true !default;


/*BOX*/
.box{
    color: $black;
    border-radius: $bordaPadrao;
    box-shadow: $sombraPadrao;
}